<footer>
  <div class="flex-space-between main-container">
    <div>
      <div>We Entangle With You</div>
      <div class="ft-desc">
        Develop your business with our software solutions.
      </div>
      <div class="social-btns-wrapper">
        <a
          *ngFor="let item of socialPlatforms"
          href="{{ item.link }}"
          target="_blank"
        >
          <img [src]="item.icon" />
        </a>
      </div>
      <div class="location">
        <div>Location</div>
        <p>Khandak Par, Bihar Sharif (Nalanda),</p>
        <p>PIN 803101</p>
        <p><a class="blue-text" href="tel:+91-9667312464">+91-9667312464</a></p>
        <p><a class="blue-text" href="mailto:info@entanglesoftware.com">info&#64;entanglesoftware.com</a></p>
      </div>
    </div>

    <div class="ft-nav-wrapper">
      <div *ngFor="let item of navItems">
        <a
          [routerLink]="[item.url]"
          [routerLinkActive]="'active'"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          {{ item.title }}
        </a>
        <div class="ft-nav-subpoints">
          <ng-container *ngFor="let subItem of item.subPoints">
            <ng-container >
              <a
                *ngIf="item.title != 'Contact';"
                [routerLink]="[subItem.url]"
                [routerLinkActive]="'active'"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                {{ subItem.title }}
              </a>
              <a
                *ngIf="item.title == 'Contact';"
                class="blue-text"
                [href]="subItem.url"
              >
                {{ subItem.title }}
              </a>
            </ng-container>

            <ng-template #noLink>
              <div>
                {{ subItem.title }}
              </div>
            </ng-template>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <div class="ft-bottom main-container">
    <div>
      Copyright© 2024. <span class="blue-text"> Entangle </span> All rights
      reserved.
    </div>
  </div>
</footer>
