<footer>
  <div class="flex-space-between main-container">
    <div>
      <div>We Entangle With You</div>
      <div class="ft-desc">
        Develop your business with our software solutions.
      </div>
      <div class="social-btns-wrapper">
        <a
          *ngFor="let item of socialPlatforms"
          href="{{ item.link }}"
          target="_blank"
        >
          <img [src]="item.icon" />
        </a>
      </div>
      <div class="location">
        <div>Location</div>
        <p>Khandak Par, Bihar Sharif (Nalanda),</p>
        <p>PIN 803101</p>
        <p>+91-9667312464</p>
        <p>info@entanglesoftware.com</p>
      </div>
    </div>

    <div class="flex-space-between ft-nav-wrapper">
      <a
        *ngFor="let item of navItems"
        [routerLink]="[item.url]"
        [routerLinkActive]="'active'"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        {{ item.title }}
      </a>
    </div>
  </div>
  <div class="ft-bottom main-container">
    <div>
      Copyright© 2022. <span class="blue-text"> Entangle </span> All rights
      reserved.
    </div>
  </div>
</footer>
