footer {
  background: #0a1928;
  color: #fff;
  padding: 24px;
  padding-bottom: 16px;
  letter-spacing: 1px;
}

.main-container {
  padding: 24px;
  margin-top: 0;
  align-items: baseline;
}

.main-logo {
  height: 50px;
  width: 150px;
}

.ft-desc {
  font-size: 12px;
  font-weight: 300;
  width: 200px;
  margin-top: 10px;
}

.social-btns-wrapper {
  gap: 10px;
  display: flex;
  margin-top: 14px;
  img {
    width: 24px;
    border-radius: 50%;
  }
}

.ft-nav-wrapper {
  width: 60%;
  a {
    color: #fff;
  }
}

.ft-bottom {
  padding-bottom: 0;
  font-size: 12px;
  font-weight: 100;
}

.blue-text {
  color: cornflowerblue;
}

@media screen and(max-width:770px) {
  .main-container {
    padding: 0;
  }
  .main-container,
  .ft-nav-wrapper,
  .ft-nav-wrapper a {
    display: block;
  }

  .ft-nav-wrapper {
    padding: 20px 0;
    a {
      margin-bottom: 10px;
    }
  }
}
