footer {
  background: #1a214d;
  color: #fff;
  padding: 24px;
  padding-bottom: 16px;
  letter-spacing: 1px;
}

.main-container {
  padding: 14px;
  margin-top: 0;
  align-items: baseline;
  h2{
 font-size: 24px;
 font-weight: 400;
  }
  p{
      font-weight: 400;
      font-size: 13px;
}
.main-logo {
  height: 50px;
  width: 150px;
}
.ft-desc {
  font-size: 12px;
  font-weight: 300;
  width: 200px;
  margin-top: 10px;
}
.social-btns-wrapper {
  gap: 10px;
  display: flex;
  margin-top: 14px;
  img {
    width: 24px;
    border-radius: 50%;
  }
}
.ft-nav-wrapper {
  display: flex;
  grid-gap: 25px;
  a {
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 14px;
  }
}
.ft-bottom {
  padding-bottom: 0;
  font-size: 12px;
  font-weight: 100;
}
.blue-text {
  color: cornflowerblue !important;
}
.location {
  margin-top: 20px;
  > div {
    margin-bottom: 6px;
  }
  p {
    font-size: 13px;
    font-weight: 400;
  }
}
.ft-nav-subpoints {
  margin-top: 8px;
  a,
  div {
    display: block;
    font-size: 14px;
    font-weight: 300;
    line-height: 2.3;
    color: #fff;
  }
}
}
@media screen and (max-width: 770px) {
  .main-container {
    padding: 0;
  }
  .main-container,
  .ft-nav-wrapper,
  .ft-nav-wrapper a {
    display: block;
  }

  .ft-nav-wrapper {
    padding: 20px 0;
    a {
      margin-bottom: 10px;
    }
  }
  .flex-space-between main-container{
    display:none;
  }
  .location{
    text-align: center;
  }
  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .ft-nav-wrapper{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .social-btns-wrapper {
    gap: 18px !important;
    display: flex;
    margin-top: 14px;
    img {
      width: 27px!important;
      border-radius: 50%;
    }
  }
}