<div class="container">
  <div class="header">
    <h2>Circulize</h2>
  </div>
  <div class="content">
    <mat-card class="card">
      <ngx-dropzone *ngIf="!imageSrc"  (change)="onSelect($event)">
        <ngx-dropzone-label>
          <div class="dropzone-content">
            <i class="upload-icon"></i>
            <p>Drag & Drop or Browse</p>
          </div>
        </ngx-dropzone-label>
      </ngx-dropzone>
      <div class="image-group">
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center" *ngIf="imageSrc">
          <div class="image-container">
            <img [src]="imageSrc" alt="Uploaded Image">
          </div>
          <h3 style="padding-top: 10px">Original Image</h3>
        </div>
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center" *ngIf="processedImageSrc">
          <div class="image-container">
            <img [src]="processedImageSrc" alt="Processed Image">
          </div>
          <h3 style="padding-top: 10px">Processed Image</h3>
        </div>
      </div>
      <div *ngIf="processedImageSrc" class="circle_count">Your image contains {{circleCount}} Circles</div>
      <div class="horizontal">
        <div class="button-container">
          <button
            mat-raised-button
            class="reset_button"
            (click)="onReset()">Reset</button>
        </div>
        <div class="button-container">
          <button
            mat-raised-button
            class="detect_button"
            [disabled]="!DetectionOn"
            (click)="onDetect()">Detect Circles</button>
        </div>
      </div>
    </mat-card>
  </div>
</div>
