.background {
  background-image: url('/assets/images/general/popup.avif');
}

.container {
  padding: 60px 100px 60px 100px ;
}
@media (max-width: 770px) {
  .container{
    padding: 10px;
  }
}

.heading {
  padding: 0 20px 0 20px;
  font-weight: 550;
  font-size: 25px;
  text-align: center;
}

@media (max-width: 770px) {
  .heading {
    font-size:17px;
  }
}


.form {
  width: 100%;
  padding: 20px 30px 0 30px;
}
.outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 15px;
}

.button {
  font-weight: 500;
  font-size:18px;
  flex:1;
  align-content: center;
  justify-content: center;
}

.cross {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 0 0;
}

@media (max-width:770px) {
  .cross{
    padding:15px 15px 0 0;
  }
}
.top {
  display: flex;
}
