<div @dialogAnimation class="background">
  <div class="cross"><mat-icon mat-dialog-close>close</mat-icon></div>
  <!-- <div class="heading">Let's Build Your Online Presence</div> -->
  <div style="display:flex;justify-content: center; height:200px;"><img src="\assets\images\general\mail.jpg"></div>
  
  <div class="container">
    <div class="heading">Let's Build Your Online Presence</div>
    <!-- <div class="heading">Connect with Us</div> -->
    <div>
      <mat-form-field class="form">
        <input
          matInput
          placeholder="Name"
          [formControl]="firstName"
          (blur)="updateNameError()"
          required
        />
        @if (firstName.invalid) {
        <mat-error>{{ nameError }}</mat-error>
        }
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="form">
        <input
          matInput
          placeholder="Email"
          [formControl]="email"
          (blur)="updateMailError()"
          required
        />
        @if (email.invalid) {
        <mat-error>{{ mailError }}</mat-error>
        }
      </mat-form-field>
    </div>
    <div class="outer-container">
      <div class="button-container">
        <button  
          mat-raised-button 
          class="button"
          (click)="sendEmail($event)"
        >
          Let's Connect
        </button>
      </div>
    </div>
  
  </div>
</div>
