.background {
  // background-image: url('/assets/images/general/popup.avif');
  // background: linear-gradient(105deg, #96a7eb, #ebc0be);
}

.container {
  // padding: 60px 100px 60px 100px ;
}
@media (max-width: 770px) {
  .container{
    padding: 10px;
  }
}

.heading {
  padding: 0 20px 0 20px;
  font-weight: 550;
  font-size: 25px;
  text-align: center;
  padding-top: 10px;
}

@media (max-width: 770px) {
  .heading {
    font-size:17px;
  }
}


.form {
  width: 100%;
  padding: 20px 30px 0 30px;
}
label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 20px;
  justify-content: center;
}

button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}
.outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 15px;
}

.button {
  font-weight: 500;
  font-size:18px;
  flex:1;
  align-content: center;
  justify-content: center;
  background: linear-gradient(284deg, #1a214d, #bb3624)!important;
  color:white;
}

.cross {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  padding: 20px 20px 0 0;
}
@media (max-width:770px) {
  .cross{
    padding:15px 15px 0 0;
  }
}
.top {
  display: flex;
}

.transparent-btn {
  position: relative;
  z-index: 1;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  height: 37px;
  width: 169px;
  text-transform: uppercase;
  background-color: #bb3624;
  border: none !important;
  cursor: pointer;
  overflow: hidden;
  border-radius: 10px 10px 10px 0px;
}

.transparent-btn::before {
  content: "";
  position: absolute;
  width: 260%;
  height: 100%;
  left: -145%;
  top: 0;
  background-color: #1a214d;
  -webkit-transform: skew(30deg);
  transform: skew(30deg);
  z-index: -1;
  -webkit-transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.transparent-btn:hover::before {
  -webkit-transform: skew(30deg) translateX(100%);
  transform: skew(30deg) translateX(100%);
}



