<mat-toolbar>
  <a [routerLink]="''">
    <img src="assets\images\general\logo.webp" class="main-logo" />
  </a>
  <span class="example-spacer"></span>
  <div class="main-items">
    <ng-container *ngFor="let item of navItems">
      <a
        [routerLink]="[item.url]"
        [routerLinkActive]="'active-header-option'"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        {{ item.title }}
      </a>
    </ng-container>
  </div>
  <mat-icon class="menu-bar" (click)="openSideDrawer()">menu</mat-icon>
</mat-toolbar>
