.example-spacer {
  flex: 1 1 auto;
}

.main-items {
  display: flex;
  align-items: center;
  gap: 36px;

  a {
    color: #1b2351;
    font-weight: 700;
    font-size: 18px;
  }
}

mat-toolbar {
  padding: 15px 50px;
  flex-flow: row wrap;
  background: white;
  position: fixed;
  transition: padding 0.3s;
  width: 100%;
  z-index: 1000;
  min-height: 75px;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}
.main-logo {
  height: 50px;
  width: 150px;
}

.menu-bar {
  display: none;
}

@media screen and (max-width: 770px) {
  .main-items {
    display: none;
  }
  .menu-bar {
    color: #131b4c;
    display: block;
    font-size: 28px;
    height: 28px;
    width: 28px;
  }
}
