.example-spacer {
  flex: 1 1 auto;
}

.main-items {
  display: flex;
  align-items: center;
  gap: 36px;
}

mat-toolbar {
  padding: 16px 50px;
  flex-flow: row wrap;
  box-shadow: inset 0 -1px #d5e0e7;
  background-color: #fff;
}
.main-logo {
  height: 50px;
  width: 150px;
}

.active {
  color: #bb3624;
}

.menu-bar {
  display: none;
}

@media screen and(max-width:770px) {
  .main-items {
    display: none;
  }
  .menu-bar {
    display: block;
    font-size: 28px;
    height: 28px;
    width: 28px;
  }
}
