.example-spacer {
  flex: 1 1 auto;
}

.main-items {
  display: flex;
  align-items: center;
  gap: 36px;

  a {
    font-weight: 400;
    font-size: 18px;
  }
}

mat-toolbar {
  padding: 25px 50px;
  flex-flow: row wrap;
  background: transparent;

  position: absolute;
  transition: padding 0.3s;
  width: 100%;
  z-index: 55;
}
.main-logo {
  height: 50px;
  width: 150px;
}

.menu-bar {
  display: none;
}

@media screen and(max-width:770px) {
  .main-items {
    display: none;
  }
  .menu-bar {
    display: block;
    font-size: 28px;
    height: 28px;
    width: 28px;
  }
}
