.carousel-container {
    overflow: hidden;
    // width: 90%; 
  }
  
  .carousel-wrapper {
    display: flex;
    justify-content: space-evenly;
    // animation: scroll-left 3s linear infinite;
  }
  
  .carousel-item {
    margin-right:15px;
    // min-width: 300px;
  }
  
  @keyframes scroll-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%); 
    }
  }
  