.carousel-container {
    overflow: hidden;
    // width: 90%; 
    h1{
       
        align-items: center;
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 30px;
        font-weight: 400;
        font-size: 35px;
    
    }
  }
  
  .carousel-wrapper {
    display: flex;
    // justify-content: space-evenly;
    gap:287px;
    align-items: center;
    // animation: scroll-left 3s linear infinite;
  }
  
  .carousel-item {
    margin-right:15px;
    // min-width: 300px;
  }
  @media(max-width:500px){
    .carousel-wrapper{
      padding-top: 17px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  @keyframes scroll-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%); 
    }
  }
  .badges{
    width:90px;
    height: 80px;
  }