<div class="main-container carousel-container">
  <h1>Our Hall Of Recognition</h1>
    <div class="carousel-wrapper">
      <div class="carousel-item" *ngFor="let item of items">
        <div *ngIf="item.type === 'clutch'" class="clutch-widget"
             [attr.data-url]="item.content.url"
             [attr.data-widget-type]="item.content.widgetType"
             [attr.data-height]="item.content.height"
             [attr.data-nofollow]="true"
             [attr.data-expandifr]="true"
             [attr.data-clutchcompany-id]="item.content.companyId"
            ></div>
  
        <!-- <div *ngIf="item.type === 'topdevelopers'">
          <a [href]="item.content.link" target="_blank">
            <img [src]="item.content.imgSrc"
                 [alt]="item.content.imgAlt"
                 [title]="item.content.imgTitle"
                 style="height: 80px; width: 75px" />
          </a>
        </div> -->
      </div>
      <div class="badges">
        <img src="\assets\icon\badges\ISO.svg" alt="iso-badge">
       </div>
    </div>
  </div>
  