<div class="banner-wrapper">
  <div class="contact-us-banner"></div>
  <div class="wrap-banner-text">
    <div>
      <h1>contact us</h1>
      <h2>Let's connect to transform your enterprise.</h2>
    </div>
  </div>
</div>
<div class="main-container">
  <div class="contact-details-wrapper">
    <mat-card>
      <mat-icon class="material-icons-outlined">phone_iphone</mat-icon>
      <mat-card-content>
        <p>+91-9667312464</p>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-icon class="material-icons-outlined">email</mat-icon>
      <mat-card-content>
        <p>info@entanglesoftware.com</p>
      </mat-card-content>
    </mat-card>
  </div>

  <mat-card class="contact-form-card">
    <h2>We Want to Hear from You</h2>
    <form [formGroup]="form">
      <div class="form-row">
        <div>
          <label>First Name<span>*</span></label>
          <mat-form-field appearance="outline">
            <input matInput [formControl]="firstName" />
            <mat-error *ngIf="message.invalid">{{
              "This field is required"
            }}</mat-error>
          </mat-form-field>
        </div>
        <div>
          <label>Last Name</label>
          <mat-form-field appearance="outline">
            <input matInput [formControl]="lastName" />
          </mat-form-field>
        </div>
      </div>
      <div class="form-row">
        <div>
          <label>Email Address<span>*</span></label>
          <mat-form-field appearance="outline">
            <input matInput [formControl]="email" />
            <mat-error *ngIf="email.invalid">{{
              "Please enter valid email"
            }}</mat-error>
          </mat-form-field>
        </div>
        <div>
          <label>Contact No<span>*</span></label>
          <mat-form-field appearance="outline">
            <input matInput [formControl]="contactNo" />
            <mat-error *ngIf="contactNo.invalid">{{
              "Please enter valid phone number"
            }}</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="form-row">
        <div class="full-width">
          <label>Message<span>*</span></label>
          <mat-form-field appearance="outline">
            <textarea matInput placeholder="Comment" [formControl]="message">
            </textarea>
            <mat-error *ngIf="message.invalid">{{
              "This field is required"
            }}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <button
        mat-flat-button
        (click)="sendEmail()"
        class="blue-btn"
        [disabled]="form.invalid"
      >
        Send
      </button>
    </form>
  </mat-card>
</div>
