.container {
  margin-bottom: 100px;
}
.banner-wrapper {
  margin-bottom: 0;
}

.our-services-banner {
  height: 500px;
  padding: 2% 0 8%;
  background: linear-gradient(to right, rgb(1 5 33 / 65%), #1a214d);
  background: url("/assets/images/general/our-services.jpg") center top / cover
    no-repeat scroll;
}

.wrap-banner-text {
  > div {
    position: relative;
    width: 75%;
    padding-left: 50px;
    text-align: right;
    padding-right: 16px;
  }
}

.web-dev-banner {
  height: auto;
  padding: 4% 2% 6%;
  position: relative;

  h1 {
    padding: 0 50px;
    font-size: 3.5rem;
    margin-bottom: 23px;
    font-weight: 400;
  }
  @media screen and (max-width: 770px) {
    h1{
      font-size: 2.5rem;
      justify-content: center;
    }
  }
}

.background-banner:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  background: rgba(0, 0, 0, 0.2);
}

.web-dev-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;

  > div {
    width: 32%;
    border-radius: 8px;
    align-self: unset;
  }

  .text-wrap {
    background: rgba(26, 33, 77, 0.7);
  }
}

.text-wrap {
  padding: 2rem;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  color: white;
  background: rgba(0, 0, 0, 0.3);
  align-self: center;
  width: 50%;

  .section-heading {
    font-size: 1.9rem;
    margin-bottom: 8px;
    font-weight: 500;
  }

  .section-para {
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 300;
  }
}

.qa-banner {
  height: 100vh;
  display: flex;
  padding: 4% 2% 6%;
  position: relative;
  background: url("/assets/images/general/quality-assurance.jpg") center top /
    cover no-repeat scroll;
  justify-content: right;
}

.devops-banner {
  height: 100vh;
  display: flex;
  padding: 4% 2% 6%;
  position: relative;
  background: url("/assets/images/general/devops.jpg") center top / cover
    no-repeat scroll;
}

@media screen and (max-width: 960px) {
  .web-dev-wrapper {
    display: block;

    > div {
      width: 80%;
      margin: auto;
      margin-bottom: 15px;
    }
  }

  .background-banner .text-wrap {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .web-dev-wrapper {
    padding: 0 10px;
    > div {
      width: 100%;
      margin-bottom: 15px;
    }
  }
}

@media screen and (max-width: 800px) {
  .wrap-banner-text {
    > div {
      width: 95%;
    }
    h2 {
      font-size: 35px;
    }
  }
}

@media screen and (max-width: 650px) {
  .wrap-banner-text {
    > div {
      width: 100%;
      padding-left: 0px;
    }
    h2 {
      font-size: 28px;
    }
  }
}
