<div class="head">
  <h1>Our Portfolio</h1>
</div>

<div >

  <div *ngFor="let items of Projects">
    <div class="header" [id]="items.tag">
      <img *ngIf="items.title; else onlylogo" class="logo" [src]="items.logo">
      <ng-template #onlylogo>
        <img class="onlylogo" [src]="items.logo">
      </ng-template>
      <h2 class="text">{{items.title}}</h2>
    </div>
      <div class="card-container">
      <div *ngFor="let item of items.products ">
        <mat-card class="card">
          <img [src]="item.imageUrl">
          <mat-card-title>{{item.title}}</mat-card-title>
          <mat-card-content>{{item.desc}}</mat-card-content>

          <div class="button-container" >
            <div *ngIf="item.type=='Visit'">
              <a [href]=item.link target="_blank">
              <button mat-raised-button
                      class="button"
                      color="primary"
              >{{ item.type }}</button>
              </a>
            </div>
            <div *ngIf="item.type=='Try'">
                <button mat-raised-button
                        class="button"
                        (click)="openInNewTab(item.link)"
                        color="primary"
                >{{ item.type }}</button>
            </div>
          </div>
        </mat-card>
      </div>
      </div>
    </div>
</div>
