<div class="container">
  <div class="banner-wrapper">
    <div class="team-banner"></div>
    <div class="wrap-banner-text">
      <div>
        <h1>our team</h1>
        <h2>Onboard our team's industry experience.</h2>
        <a
          mat-flat-button
          class="transparent-btn"
          [routerLink]="'../contact-us'"
          >Get In Touch</a
        >
      </div>
    </div>
  </div>

  <section class="main-container">
    <div class="team-img-section">
      <div class="team-block-item">
        <img src="assets/images/general/team1.jpg" />
        <div class="team-content">
          <h3>Rishabh Gupta</h3>
          <div>CEO</div>
        </div>
      </div>
      <div class="team-block-item">
        <img src="assets/images/general/team2.jpg" />
        <div class="team-content">
          <h3>Rishabh Gupta</h3>
          <div>CEO</div>
        </div>
      </div>
      <div class="team-block-item">
        <img src="assets/images/general/team3.jpg" />
        <div class="team-content">
          <h3>Rishabh Gupta</h3>
          <div>CEO</div>
        </div>
      </div>
    </div>
  </section>
</div>
