<div class="container">
  <div class="banner-wrapper">
    <div class="home-banner"></div>
    <div class="wrap-banner-text">
      <div>
        <h1>we entangle with you</h1>
        <h3>Develop effective plans to move your customers' behaviour.</h3>
        <a
          mat-flat-button
          class="transparent-btn"
          [routerLink]="'../contact-us'"
          >Get In Touch</a
        >
      </div>
    </div>
  </div>

  <section class="who-we-are main-container">
    <div>
      <h1>Who we are</h1>

      <p>
        We're a software development and consultancy company that provides
        robust software solutions to empower businesses like you. We bring our
        industry knowledge and experience to help clients by leveraging evolving
        technology solutions into their business to stay ahead of the curve.
      </p>
    </div>
    <img src="assets/images/general/home-2.jpg" />
  </section>
  <section class="main-container">
    <div class="what-we-do">
      <div>
        <h1>What we do</h1>
      </div>

      <div>
        <i class="desc">
          We offer several services that will boost customers' engagement with
          your product at remarkable speed. We deliver high quality products
          with our expertise and commitment.
        </i>
        <div class="flex-space-between" style="flex-wrap: wrap">
          <div class="develop-platforms" *ngFor="let item of developPlatforms">
            <ng-container *ngIf="item.icon; else imgIconTemp">
              <mat-icon>{{ item.icon }}</mat-icon>
            </ng-container>
            <ng-template #imgIconTemp>
              <img [src]="item.img" />
            </ng-template>
            <div>
              <div class="title">{{ item.title }}</div>
              <div>{{ item.desc }}</div>
            </div>
          </div>
        </div>

        <div></div>
      </div>
    </div>
    <div class="tech-icons-wrapper">
      <h1>Our Expertise</h1>
      <div class="tech-icons">
        <div *ngFor="let item of technologiesIcons">
          <img [src]="item.icon" />
          <p>{{ item.title }}</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="contact-us-banner">
      <div class="overlay"></div>
      <app-contact-us-form></app-contact-us-form>
    </div>
  </section>
</div>
