<div class="container">
  <div class="banner-wrapper">
    <div class="home-banner"></div>
    <div class="wrap-banner-text">
      <div class="heading">
        <h4>we entangle with you</h4>
        <h3>Develop effective plans to move your customers' behaviour.</h3>
        <button (click)="navigateToContact()" class="transparent-btn">
          Get in Touch
        </button>
      </div>
    </div>
  </div>

  <section class="main-container who-we-are-main-container">
    <div class="info">
      <div style="margin-bottom: 30px">
        <h1 style="font-weight: 400">Who we are</h1>
        <p>
          We are a premier software development and consultancy firm dedicated
          to delivering robust software solutions that empower businesses like
          yours. Leveraging our extensive industry knowledge and experience, we
          help clients integrate cutting-edge technology into their operations,
          ensuring they stay ahead of the curve. Our commitment is to drive
          innovation and efficiency, transforming your business challenges into
          opportunities for growth and success
        </p>
      </div>
      <div class="video-container" (click)="openVideoModal('BMxD6hwMfWk')">
        <iframe
          id="video"
          width="100%"
          height="315"
          src="https://www.youtube.com/embed/BMxD6hwMfWk?rel=0&autoplay=1&mute=1&loop=1&playlist=BMxD6hwMfWk"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
          loading="lazy"
        ></iframe>
        <div class="mask-youtube video-btn"></div>
      </div>
    </div>
    <div class="video-container" (click)="openVideoModal('BMxD6hwMfWk')">
      <!-- <iframe
        id="video"
        width="100%"
        height="315"
        src="https://www.youtube.com/embed/BMxD6hwMfWk?rel=0&autoplay=1&mute=1&loop=1&playlist=BMxD6hwMfWk"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        loading="lazy"
      ></iframe> -->
      <div class="mask-youtube video-btn"></div>
    </div>
  <!-- </div> -->
  </section>

  <section class="main-container">
    <div class="what-we-do" style="margin-bottom: 20px">
      <div class="wwd-content">
        <img class="wwd-content-image" src="assets\images\general\home-2.webp" />
        <div class="desc">
          <h1>What we do</h1>
          <p>
            At Entangle, we offer a range of services to enhance customer
            engagement and drive business growth. Our expertise includes custom
            software development, IT consultancy, system integration, mobile app
            and web development, cloud solutions, and ongoing maintenance and
            support. We are committed to delivering high-quality, scalable
            solutions tailored to your unique needs. Our team works closely with
            you to ensure seamless integration and optimal performance, helping
            your business stay ahead of the curve and achieve remarkable
            results. Our innovative approach leverages the latest technologies
            to create robust, user-friendly applications that elevate your
            brand. We prioritize security and efficiency, ensuring your data is
            protected while maximizing operational productivity.
          </p>
        </div>
      </div>
    </div>

    <h1>Our Services</h1>
    <div class="card-container">
      <div *ngFor="let item of developPlatforms">
        <mat-card class="card" style="flex: 1">
          <div class="card-icon">
            <img style="width: 50px; height: 50px" [src]="item.img" />
          </div>
          <mat-card-title>{{ item.title }}</mat-card-title>
          <mat-card-content style="font-weight: 100">{{
            item.desc
          }}</mat-card-content>
        </mat-card>
      </div>
    </div>
    <!-- <app-our-services></app-our-services> -->
    <!-- tech icons -->
    <h1>Our Expertise</h1>
    <div class="tech-icons-wrapper">
      <div class="tech-icons">
        <mat-card class="excard" (click)="navigateTo('')">
          <div class="column">
            <div class="icons" style="flex: 1">
              <div class="icon-item" *ngFor="let item of backendIcons">
                <ng-container *ngIf="item.tag.length > 0; else noTooltip">
                  <div
                    matTooltip="{{ item.title }} Product"
                    [matTooltipPosition]="'above'"
                    (click)="navigateTo(item.tag)"
                  >
                    <img [src]="item.icon" />
                  </div>
                </ng-container>
                <ng-template #noTooltip>
                  <div (click)="navigateTo(item.tag)">
                    <img [src]="item.icon" />
                  </div>
                </ng-template>
                <p>{{ item.title }}</p>
              </div>
            </div>
            <h2 class="section-header">Backend</h2>
          </div>
        </mat-card>

        <mat-card class="excard" (click)="navigateTo('')">
          <div class="column">
            <div class="icons" style="flex: 1">
              <div class="icon-item" *ngFor="let item of frontendIcons">
                <ng-container *ngIf="item.tag.length > 0; else noTooltip">
                  <div
                    matTooltip="{{ item.title }} Products"
                    [matTooltipPosition]="'above'"
                    (click)="navigateTo(item.tag)"
                  >
                    <img [src]="item.icon" />
                  </div>
                </ng-container>
                <ng-template #noTooltip>
                  <div (click)="navigateTo(item.tag)">
                    <img [src]="item.icon" />
                  </div>
                </ng-template>
                <p>{{ item.title }}</p>
              </div>
            </div>
            <h2 class="section-header">Frontend</h2>
          </div>
        </mat-card>
      </div>

      <div class="tech-icons" style="padding-top: 5px">
        <mat-card class="excard" (click)="navigateTo('')">
          <div class="column">
            <div class="icons">
              <div class="icon-item" *ngFor="let item of databaseIcons">
                <ng-container *ngIf="item.tag.length > 0; else noTooltip">
                  <div
                    matTooltip="{{ item.title }} Products"
                    [matTooltipPosition]="'above'"
                    (click)="navigateTo(item.tag)"
                  >
                    <img [src]="item.icon" />
                  </div>
                </ng-container>
                <ng-template #noTooltip>
                  <div (click)="navigateTo(item.tag)">
                    <img [src]="item.icon" />
                  </div>
                </ng-template>

                <p>{{ item.title }}</p>
              </div>
            </div>
            <h2 class="section-header">Databases</h2>
          </div>
        </mat-card>

        <mat-card class="excard" (click)="navigateTo('')">
          <div class="column">
            <div class="icons">
              <div class="icon-item" *ngFor="let item of devopsIcons">
                <ng-container *ngIf="item.tag.length > 0; else noTooltip">
                  <div
                    matTooltip="{{ item.title }} Products"
                    [matTooltipPosition]="'above'"
                    (click)="navigateTo(item.tag)"
                  >
                    <img [src]="item.icon" />
                  </div>
                </ng-container>
                <ng-template #noTooltip>
                  <div (click)="navigateTo(item.tag)">
                    <img [src]="item.icon" />
                  </div>
                </ng-template>

                <p>{{ item.title }}</p>
              </div>
            </div>
            <h2 class="section-header">DevOps</h2>
          </div>
        </mat-card>
      </div>

      <div class="tech-icons" style="padding-top: 5px">
        <mat-card class="excard" (click)="navigateTo('')">
          <div class="column">
            <div class="icons">
              <div class="icon-item" *ngFor="let item of cloudProvidersIcons">
                <ng-container *ngIf="item.tag.length > 0; else noTooltip">
                  <div
                    matTooltip="{{ item.title }} Products"
                    [matTooltipPosition]="'above'"
                    (click)="navigateTo(item.tag)"
                  >
                    <img [src]="item.icon" />
                  </div>
                </ng-container>
                <ng-template #noTooltip>
                  <div (click)="navigateTo(item.tag)">
                    <img [src]="item.icon" />
                  </div>
                </ng-template>

                <p>{{ item.title }}</p>
              </div>
            </div>
            <h2 class="section-header">Cloud Providers</h2>
          </div>
        </mat-card>

        <mat-card class="excard" (click)="navigateTo('')">
          <div class="column">
            <div class="icons">
              <div
                class="icon-item"
                *ngFor="let item of hybridApplicationIcons"
              >
                <ng-container *ngIf="item.tag.length > 0; else noTooltip">
                  <div
                    matTooltip="{{ item.title }} Products"
                    [matTooltipPosition]="'above'"
                    (click)="navigateTo(item.tag)"
                  >
                    <img [src]="item.icon" />
                  </div>
                </ng-container>
                <ng-template #noTooltip>
                  <div (click)="navigateTo(item.tag)">
                    <img [src]="item.icon" />
                  </div>
                </ng-template>

                <p>{{ item.title }}</p>
              </div>
            </div>
            <h2 class="section-header">Hybrid Application</h2>
          </div>
        </mat-card>
      </div>
    </div>
  </section>

  <!-- why choose us -->
  <section>
    <div class="wcu-main-container">
      <div class="why-choose-us-container">
        <div class="why-choose-us-content">
          <h2>Why Choose Us</h2>
          <p>
            Our team comprises of IT professionals well versed in latest
            technologies.
          </p>
        </div>
        <div class="grid-container">
          <div
            class="grid-content"
            *ngFor="let item of whyChooseUs; let i = index"
            [ngClass]="{ 'left-side': i % 2 === 0, 'right-side': i % 2 !== 0 }"
            [ngClass]="{ 'row-reverse': (i + 1) % 2 === 0 }"
          >
            <div
              [ngClass]="{
                'even-child': i % 2 === 0,
                'odd-child': i % 2 !== 0
              }"
            >
              <h3 class="title">{{ item.title }}</h3>
              <p class="grid-desc">{{ item.desc }}</p>
            </div>
            <div class="img-wrapper">
              <img class="grid-image" [src]="item.image" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Industries we serve -->
  <app-industry-we-serve></app-industry-we-serve>

  <section class="question-main-container">
    <div class="question-container">
      <h2>
        Common few queries are answered here related to website design and
        development
      </h2>
      <mat-expansion-panel *ngFor="let item of questions">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ item.ques }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{ item.ans }}</p>
      </mat-expansion-panel>
    </div>
  </section>

  <section id="contact-us">
    <div class="contact-us-banner">
      <div class="overlay"></div>
      <app-contact-us-form></app-contact-us-form>
    </div>
    <app-widget-carousel></app-widget-carousel>
  </section>
</div>
