.container {
  padding-bottom: 40px;
}
.home-card-wrapper {
  display: flex;
  gap: 25px;
  justify-content: center;
}

.home-banner {
  height: 693px;
  background: url("/assets/images/general/test2.jpg") center top / cover
    no-repeat scroll;
  padding: 2% 0 8%;
}

.what-we-do,
.tech-icons-wrapper {
  h1 {
    font-weight: 300;
    width: max-content;
    font-size: 35px;
    line-height: 1.1em;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 20px;
    border-left-style: solid;
    border-left-width: 4px;
    border-color: #bb3624;
    margin-bottom: 30px;
  }
}
.what-we-do {
  width: 100%;
  padding: 32px;
  min-height: 250px;
  background: none;
  box-shadow: none;

  > div:first-child {
    letter-spacing: 1px;
  }
  > :last-child {
    padding: 0 26px;
  }

  .desc {
    font-size: 17px;
    margin-bottom: 30px;
    font-weight: 100;
    letter-spacing: 1px;

    ~ div {
      margin-top: 16px;
    }
  }
}
.tech-icons-wrapper {
  margin-top: 50px;
  padding: 25px;
  padding-bottom: 33px;
  background: none;
  box-shadow: none;

  h2 {
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 26px;
  }
  > div {
    display: flex;
  }
  .tech-icons {
    padding: 50px 0;
  }
}

.develop-platforms {
  padding: 20px;
  max-width: 400px;
  img,
  mat-icon {
    font-size: 36px;
    width: 36px;
    height: 36px;
    opacity: 0.5;
    margin-right: 5px;
  }
  .title {
    font-size: 18px;
    letter-spacing: normal;
    color: rgba(48, 49, 51, 0.9);
    font-weight: 500;
    margin: 4px 0 11px;
  }
  > div:last-child {
    font-weight: 100;
  }
}
mat-card-title {
  font-size: 22px;
  text-align: center;
  margin-bottom: 12px;
}

mat-card-content {
  color: #5b5d60;
  font-weight: 300;
  text-align: center;
}

.banner-wrapper {
  .wrap-banner-text {
    background: linear-gradient(83deg, rgba(255, 255, 255, 0) 0%, #1a214d);
  }
}

section {
  padding: 0 50px;
}
@media screen and(max-width:560px) {
  .banner-wrapper .wrap-banner-text {
    div {
      top: 40%;
    }
    h1 {
      font-size: 38px;
    }
    h3 {
      font-size: 16px;
    }
  }
}

@media screen and(max-width:960px) {
  .what-we-do {
    display: block;
  }
  section {
    padding: 0 20px;
  }
}
