.main-container {
  margin: auto;
  margin-top: -66px;
}
.wrap-banner-text {
  > div {
    position: relative;
    width: 75%;
    padding-left: 50px;
    text-align: right;
    padding-right: 16px;
  }
}

.contact-details-wrapper {
  display: grid;
  grid-gap: 40px;
  justify-content: center;
  margin-bottom: 25px;
  grid-template-columns: 0.4fr 0.4fr;
  mat-card {
    width: 90%;
    text-align: center;
    padding: 28px;
    margin: auto;
    z-index: 9;
    p {
      margin-bottom: 4px;
    }
  }

  mat-icon {
    font-size: 42px;
    height: 42px;
    width: 42px;
    margin-bottom: 20px;
  }
}

.blue-btn {
  width: 100px;
}

@media screen and (max-width: 770px) {
  .contact-details-wrapper {
    grid-template-columns: 1fr;
  }
  .contact-form-card {
    padding: 2rem;

    .form-row {
      display: block;
      div {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .wrap-banner-text {
    > div {
      width: 95%;
    }
    h2 {
      font-size: 35px;
    }
  }
}

@media screen and (max-width: 650px) {
  .wrap-banner-text {
    > div {
      width: 100%;
      padding-left: 0px;
    }
    h2 {
      font-size: 28px;
    }
  }
}
