<div class="container">
<div class="banner-wrapper">
  <div class="contact-us-banner"></div>
  <div class="wrap-banner-text">
    <div>
      <h1>contact us</h1>
      <h2>Let's connect to transform your enterprise.</h2>
    </div>
  </div>
</div>
<div class="main-container">
  <div class="contact-details-wrapper">
    <mat-card>
      <div class="card-content">
        <mat-icon>phone_iphone</mat-icon>
        <mat-card-content>
          <a href="tel:+91-9667312464">+91-9667312464</a>
        </mat-card-content>
      </div>
    </mat-card>
    <mat-card>
      <div class="card-content">
        <mat-icon class="material-icons-outlined">email</mat-icon>
        <mat-card-content style="margin-top: 7px">
          <a href="mailto:info@entanglesoftware.com"
          >info&#64;entanglesoftware.com</a>
        </mat-card-content>
      </div>
    </mat-card>
  </div>
  <app-contact-us-form></app-contact-us-form>
</div>
</div>
