<div class="container">
<div class="banner-wrapper">
  <div class="contact-us-banner"></div>
  <div class="wrap-banner-text">
    <div>
      <h1>contact us</h1>
      <h2>Let's connect to transform your enterprise.</h2>
    </div>
  </div>
</div>
<div class="main-container">
  <div class="contact-details-wrapper">
    <mat-card>
      <mat-icon class="material-icons-outlined">phone_iphone</mat-icon>
      <mat-card-content>
        <p>+91-9667312464</p>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-icon class="material-icons-outlined">email</mat-icon>
      <mat-card-content>
        <p>info&#64;entanglesoftware.com</p>
      </mat-card-content>
    </mat-card>
  </div>
  <app-contact-us-form></app-contact-us-form>
</div>
</div>
