<div class="main-container">
  <div class="contact-details-wrapper">
    <mat-card>
      <mat-icon class="material-icons-outlined">phone_iphone</mat-icon>
      <mat-card-content>
        <p>Call : +9876543210</p>
        <p>Monday-Friday (10am-18pm)</p>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-icon class="material-icons-outlined">email</mat-icon>
      <mat-card-content>
        <p>Email : Ragner3@gmail.com</p>
        <p>Web: www.rockstheme.com</p>
      </mat-card-content>
    </mat-card>
  </div>

  <mat-card class="contact-form-card">
    <h2>We Want to Hear from You</h2>
    <div class="form-row">
      <div>
        <label>First Name*</label>
        <mat-form-field appearance="outline">
          <input matInput />
        </mat-form-field>
      </div>
      <div>
        <label>Last Name</label>
        <mat-form-field appearance="outline">
          <input matInput />
        </mat-form-field>
      </div>
    </div>
    <div class="form-row">
      <div>
        <label>Email Address*</label>
        <mat-form-field appearance="outline">
          <input matInput />
        </mat-form-field>
      </div>
      <div>
        <label>Contact No</label>
        <mat-form-field appearance="outline">
          <input matInput />
        </mat-form-field>
      </div>
    </div>

    <div class="form-row">
      <div class="full-width">
        <label>Message*</label>
        <mat-form-field appearance="outline">
          <textarea matInput placeholder="Comment"> </textarea>
        </mat-form-field>
      </div>
    </div>
    <button mat-flat-button>Send</button>
  </mat-card>
</div>
