
.heading{
    display: flex;
    justify-content: center;
    h2{
        font-weight: 400;
        font-size: 35px;
        margin-bottom: 10px;
        margin-top: 20px;
    }
}

mat-grid-title{
    img{
        width:30px;
        height: 30px;
    }
}
.grid-content{
  width:40px; 
  height: 40px;
}
@media(max-width:500px){
  .grid-content{
    width:24px; 
    height: 24px;
  }
}
@media(max-width:770px){
  .grid-content{
    width:40px; 
    height: 40px;
  
  }
  mat-grid-list{
    margin:0px;
    padding-right:10px;
    padding-left:10px;
    gap:2px;
  }
}
@media(min-width:990px){
  mat-grid-list {
    margin-left: 224px;
    margin-right: 224px;
}
}
.desc{
    margin-left:10px;
}
@media(max-width:770px){
  .desc{
    margin-left:2px;
    font-size: 10px;
    font-weight: 500;
    margin-top:0px;
  }
}
.button{
    display: flex;
    justify-content: center;
}
.transparent-btn {
    border: 1px solid !important;
    background: linear-gradient(2845deg, #1a214d, #bb3624);
    height: 50px;
    width: 200px;
    position: relative;
    border-radius: 24px;
    overflow: hidden;
    transition: transform 0.3s;
  }
  .transparent-btn:hover {
    transform: scale(1.1);
    transition-property: transform;
    transition-duration: 0.3s;
  }
  
  .transparent-btn::before {
    content: "";
    background: rgba(255, 255, 255, 0.4);
    width: 60%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    transform: skew(45deg);
    transition: left 0.5s ease-in-out;
  }
  .transparent-btn:hover::before {
    left: 113%;
  }
  
  .transparent-btn::before {
    transition: left 0.5s ease-in-out;
  }
  @keyframes move {
    0% {
      left: -0%;
      opacity: 1;
    }
    100% {
      left: 75%;
      opacity: 1;
    }
    100% {
      left: 85%;
      opacity: 1;
    }
    100% {
      left: 100%;
      opacity: 0; 
      visibility: hidden; 
    }
  }
  
  .main-container {
    align-items: center;
      display: flex;
      justify-content: center;
      margin-top: 20px;
      font-weight: 400;
      font-size: 35px;
  }
  .industry-grid-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    justify-content: center;
  }
  .industry-card {
    flex: 1 1 300px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 6px -1px #e1e7ef, 0 2px 4px -2px #e1e7ef;
    transition: 0.3s;
    transition: background-color 0.3s ease;
  }
  @media (max-width: 996px) {
    .industry-card {
      margin: 15px;
    }
  }
  @media (min-width:770px) {
    .industry-card {
      max-width: 270px;
    }
  }
  .industry-card:hover {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background-color: #f5f5f5;
  }
  .industry-content{
      height:70px; 
       display: flex;
       justify-content: center;
       margin-top: 20px;
  }
  .description{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-weight: 600;
    font-size: 17px;
  }
.details{
  display: flex;
  justify-content: center;
}
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
  }
  .details {
    position: relative;
  }
  
  .details li {
    position: relative; 
    padding-left: 27px;
    text-align: justify; 
  }
  
  .details li:before {
    content: "✓"; 
    width: 28px; 
    font-weight: 900; 
    font-size: 17px; 
    line-height: 21px;
    display: inline-block; 
    text-align: center; 
    color: #1a214d; 
    left: 0;
    position: absolute; 
    top: 0; 
  }
@media(max-width:770px){
  .heading{
    h2{
      font-weight: 400;
      font-size: 20px;
        margin-bottom: 0px;
        margin-top: 0px;
    } 
}
}


