
<section>
    <!-- <div class="grid-container">
       <div  class="heading"><h2>Driving Innovation Across industry</h2></div> 
    <mat-grid-list cols="4" rows='2'rowHeight="100px">
        <mat-grid-tile   *ngFor="let item of industryWeServe; let i = index">
          <img  class="grid-content"[src]="item.image">
          <div class="desc">{{ item.desc }}</div>
        </mat-grid-tile>
      </mat-grid-list>
      
    </div>
    <div class="button">
    <button (click)="navigateToContact()" class="transparent-btn">
        Get in Touch
      </button>
    </div> -->
</section>
<section>
  <h1 class="main-container">Industry We Serve</h1>
  <div class=" main-container industry-grid-container">

 <mat-card  class="industry-card"*ngFor="let item of industry; let i = index">
  <img  class="industry-content"[src]="item.image" >
  <div class="description">{{ item.desc }}</div>
  <div class="details">
  <ul>
    <li *ngFor="let detail of item.list">{{ detail }}</li>
  </ul>
</div>
 </mat-card>
 
</div>
</section>

