<div class="banner-wrapper">
  <div class="about-us-banner"></div>
  <div class="wrap-banner-text">
    <div>
      <h1>about us</h1>
      <h3>
        Entangle provides cutting-edge software solutions by leveraging emerging
        technologies.
      </h3>
    </div>
  </div>
</div>
<div class="main-container">
  <section class="section-1">
    <div>
      <h1>We design, integrate and maintain</h1>
      <p>
        <strong>We're a software development and consulting company.</strong
        ><br />
        <span>
          We empower businesses in all domains by developing innovative products
          and services. Our talented engineers will scale your delivery capacity
          with their top tech skills, which will let your business thrive.
        </span>
      </p>
    </div>
    <img src="assets/images/general/about-us-3.jpg" />
  </section>

  <section class="section-2">
    <div>
      <h2>Website Developers</h2>
      <p>
        Our developers deliver consistent and high-performing web solutions to
        help businesses like you achieve a competitive edge. Get robust and
        secure web applications that make your business scalable and reach out
        to the users.
      </p>
    </div>
    <div>
      <h2>Mobile App Developers</h2>
      <p>
        Since the number of mobile app users is growing rapidly, we also deliver
        native apps developed on the latest technology. If you want your users
        to be engaged through mobile apps too, we are the best choice as we have
        extensive experience in mobile app development.
      </p>
    </div>
    <div>
      <h2>Backend solutions</h2>
      <p>
        We ensure dynamic, secure, and optimised backend solutions for your
        applications. Our expertise ensures that your company gets what it needs
        since the backend is the backbone of any website or mobile app.
      </p>
    </div>
    <div>
      <h2>Hybrid App Development</h2>
      <p>
        Make your application an amalgamation of native apps and web
        applications that can be available to your customers regardless of the
        platform they prefer to use. Entangle can help your business create
        software that will be UI-rich and intuitive for users.
      </p>
    </div>
    <!-- <div>
      <h2>Maintenance & Support</h2>
      <p>
        You can avail our maintenance and support throughout all the phases of
        web design and development service.
      </p>
    </div> -->
    <div>
      <h2>Quality Assurance & Testing</h2>
      <p>
        Our QA team conducts comprehensive and rigorous testing of your product
        after the development and unit testing phases, which makes it more
        reliable.
      </p>
    </div>
  </section>
</div>
