<div class="container">
  <div class="banner-wrapper">
    <div class="about-us-banner"></div>
    <div class="wrap-banner-text">
      <div>
        <h1>about us</h1>
        <h3>
          Entangle provides cutting-edge software solutions by leveraging
          emerging technologies.
        </h3>
      </div>
    </div>
  </div>
  <section>
    <div class="main-container">
      <img src="assets\images\about-us\about-us.png" />
      <div class="content">
        <div class="text">
          <h2>
            <span class="heading" style="font-weight: 500">About</span>
            <span style="font-size: 37px; line-height: 1.3em"
              >Turning businesses into success through innovative IT
              solutions</span
            >
          </h2>
        </div>

        <p>
          <span style="color: #0000ff"
            >Your trusted destination for exceptional mobile app and web
            development services.</span
          >
        </p>

        <ul>
          <li>
            <p>
              We aim to build robust mobile apps, web solutions and software for
              startups, SMEs, and big brands.
            </p>
          </li>
          <li>
            <p>
              We are the reliable software, web and mobile app development
              service provider company that helps in building profitable
              software.
            </p>
          </li>
          <li>
            <p>
              We aim at bridging the gap between an app idea and giving the
              right resources to transform the idea into a functional solution.
            </p>
          </li>
        </ul>
        <a [routerLink]="['/contact-us']">
          <button class="transparent-btn">Explore More</button>
        </a>
      </div>
    </div>
  </section>
  <!-- contactus -->
  <section >
    <div class="background">
      <div class="overlay"></div>
      <div class="main-content">
        <div class="Content">
          <h2>Ready to start your dream project?</h2>
          <p>We have a TEAM to get you there.</p>
        </div>
        <div class="icon">
          <div
            style="
              display: flex;
              justify-content: center;
              margin-top: 20px;
              padding-bottom: 25px;
            "
          >
            <img src="assets\images\about-us\calling-icon.png" />
          </div>
          <div class="contact-info">
            >
            <p>for support Call us 24/7</p>
            <h3>+919470039388</h3>
          </div>
          <a [routerLink]="['/contact-us']">
          <button class="transparent-btn" style="margin: 25px">
            contact-us
          </button>
        </a>
        </div>
      </div>
    </div>
  </section>

  <!-- our expert team -->
  <section>
    <div class="main-container">
      <img src="assets\images\about-us\aboutus-img.png" />
      <div class="content">
        <div class="text">
          <h2>
            <span class="heading" style="font-weight: 500">Our Skills</span>
            <span style="font-size: 37px; line-height: 1.3em"
              >Our Expert Team</span
            >
          </h2>
        </div>

        <p style="margin-bottom: 20px">
          <span
            >Our experienced mobile app and web development team at Entangle
            Partners stands as a dynamic force, equipped with a diverse set of
            technology skills-set and a commitment to the innovation. With
            expertise in both Android app and iOS app development technology
            platforms, our mobile app developers brings years of experience to
            the company, ensuring the delivery of exceptional results. We
            combine technical expertise with creative insight. Our development
            team consistently aligns its work with project requirements,
            bringing client visions to life with quality coding and brilliant
            user experience. experience.</span
          >
        </p>
        <div *ngFor="let progress of progressBars"let i="index" #progressBarContainer >
          <div class="progress">
            <p style="margin-top: 9px; font-size: 14px; font-weight: 600">
              {{ progress.text }}
            </p>
            <span class="progress-label">{{ progress.percentage }}%</span>
          </div>
          <mat-progress-bar
            mode="determinate"
            [value]="progress.percentage"
           
          ></mat-progress-bar>
        </div>
      </div>
    </div>
  </section>

  <!-- meet our team -->
  <section>
    <div class="meet-our-team-container">
      <h2>Meet the team at Entangle</h2>
      <p>
        ENTANGLE Web Studio is a leading web design firm, backed by a talented
        team of professionals dedicated to delivering a superior custom web
        design experience. Each member of our team specializes in their domain,
        whether it’s custom website design, personalized eCommerce platforms, or
        sophisticated web applications. With ENTANGLE, you can expect
        consistently exceptional web solutions that earn awards. Our collective
        expertise empowers us to build innovative tools for your endless
        success.
      </p>
    </div>
    <div class="card-container">
      <mat-card class="display-card"*ngFor="let card of cards">
        <div  >
          <img style="width: 250px" [src]="card.img" />
        </div>
        <div style="background-color: #1a214d">
          <mat-card-title>{{ card.title }}</mat-card-title>
        </div>
      </mat-card>
    </div>
  </section>
  <section class="company-info" #counter id="counter" >
    <div class="container-wrapper">
      <div class=" container-overlay"></div>
      <div class="content-wrapper">
        <mat-card class="custom-card">
          <div class="details">
            <h1>{{ currentNumber }}+</h1>
            <span style="margin-left: 2px;margin-right: 3px;">Satisfied client</span>
          </div>
        </mat-card>
        <mat-card class="custom-card">
          <div class="details">
            <h1>{{ currentNumber }}%</h1>
            <span style="margin-left: 2px;margin-right: 3px;">Satisfied client</span>
          </div>
        </mat-card>
        <mat-card class="custom-card">
          <div class="details">
            <h1>3+</h1>
            <span>Years of experience</span>
          </div>
        </mat-card>
      </div>
    </div>
  </section>
<section>
  <div class="main-container process" style="justify-content: center; margin-bottom: 0px;">
    <div class="text">
      <h2>
        <span class="heading" style="font-weight: 500;text-align: center;">Process</span>
        <span class="sub-heading"
          >Our Streamlined Process for Success</span
        >
      </h2>
    </div>
  </div>
  <div class="process-content">
  <p>Empowering Your Vision, Crafting Excellence: Entangle Software – Your Premier Mobile & Web App Development Partner in India.</p>
</div>

<div class="slider-container">
  <div class="slider">
    <mat-card *ngFor="let process of getDisplayedCards()" [ngClass]="process.animation" class="slider-card" >
     
        <mat-card-title style="color: black;">{{ process.title }}</mat-card-title>
       <div  >
        <img style="width:64px;height:64px;margin-top: 10px;" [src]="process.img" />
      </div>
    
      <mat-card-content>
        <p>{{ process.content }}</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="indicators">
    <button *ngFor="let i of [0, 1, 2]; let index = index"
            (click)="goToSlide((currentSlide + index) % totalSlides)" 
            [class.active]="index === currentSlide % 3"></button>
  </div>
</div>










</section>
</div>
