<div class="container">
  <div class="banner-wrapper">
    <div class="about-us-banner"></div>
    <div class="wrap-banner-text">
      <div>
        <h1>about us</h1>
        <h3>
          Entangle provides cutting-edge software solutions by leveraging
          emerging technologies.
        </h3>
      </div>
    </div>
  </div>
  <section>
    <div class="main-container">
      <img src="\assets\icon\icon\icon\icon\about us\about-us.png" />
      <div class="content">
        <div class="text">
          <h2>
            <span class="heading" style="font-weight: 500;">About</span>
            <span style="font-size: 37px; line-height: 1.3em"
              >Turning businesses into success through innovative IT
              solutions</span
            >
          </h2>
        </div>
     
        <p>
          <span style="color: #0000ff"
            >Your trusted destination for exceptional mobile app and web
            development services.</span
          >
        </p>
    
        <ul>
          <li>
            <p>
              <span>
                We aim to build robust mobile apps, web solutions and software
                for startups, SMEs, and big brands.
              </span>
            </p>
          </li>
          <li>
            <p>
              <span>
                We are the reliable software, web and mobile app development
                service provider company that helps in building profitable
                software.
              </span>
            </p>
          </li>
          <li>
            <p>
              <span>
                We aim at bridging the gap between an app idea and giving the
                right resources to transform the idea into a functional
                solution.
              </span>
            </p>
          </li>
        </ul>
          <a [routerLink]="['/contact-us']" >
        <button class="transparent-btn">
          Explore More
        </button>
          </a>
      </div>
      </div>
  </section>
</div>
