.main-container {
  margin: auto;
  margin-bottom: 100px;
}

.container {
}
.home-card-wrapper {
  display: flex;
  gap: 25px;
  justify-content: center;
}

.about-us-banner {
  height: 550px;
  background: url("/assets/images/general/about-us.webp") center top / cover
    no-repeat scroll;
  padding: 2% 0 8%;
  opacity: 0.7;
}

.banner-wrapper {
  margin-bottom: 0px;
}
.main-container {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  position: relative;
  img {
    height: 500px;
    width: 100%;
    // margin: 20px;
  }
  .heading {
    font-size: 60px;
    .main-container {
      display: flex;
      margin-right: auto;
      margin-left: auto;
      margin-top: 40px;
      position: relative;
      img {
        height: 344px !important;
      }
    }
    font-family: Roboto, Arial, Helvetica, sans-serif;
    -webkit-text-stroke: 1px #a9b5c9;
    top: -0.5em;
    line-height: 1;
    position: absolute;
    font-weight: 800;
    -webkit-text-fill-color: transparent;
    opacity: 0.3;
    left: 0;
    right: 0;
  }
}
.content {
  p {
    margin-top: 1.85em;
    font-size: 18px;
    line-height: 1.875em;
  }
  ul {
    list-style: none;
    counter-reset: my-awesome-counter;
  }
  li {
    font-weight: 400;
    counter-increment: my-awesome-counter;
    padding-left: 47px;
    position: relative;

    &:before {
      content: "\2713";
      width: 28px;
      font-weight: 900;
      font-size: 18px;
      line-height: 28px;
      display: inline-block;
      text-align: center;
      background-color: #1a214d;
      border-radius: 50%;
      color: #fff;
      left: 0;
      position: absolute;
      top: 0;
    }
  }
}
@media (max-width: 500px) {
  .content {
    margin-top: 30px;
  }
  .display-card {
    margin-bottom: 20px;
  }
}
.text {
  position: relative;
}
.transparent-btn {
  position: relative;
  z-index: 1;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  height: 62px;
  width: 200px;
  text-transform: uppercase;
  background-color: #bb3624;
  border: none !important;
  cursor: pointer;
  overflow: hidden;
  border-radius: 10px 10px 10px 0px;
}

.transparent-btn::before {
  content: "";
  position: absolute;
  width: 260%;
  height: 100%;
  left: -145%;
  top: 0;
  background-color: #1a214d;
  -webkit-transform: skew(30deg);
  transform: skew(30deg);
  z-index: -1;
  -webkit-transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.transparent-btn:hover::before {
  -webkit-transform: skew(30deg) translateX(100%);
  transform: skew(30deg) translateX(100%);
}

@media (max-width: 500px) {
  .main-container {
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 0px;
    img {
      height: 305px;
      width: 100%;
    }
    .content {
      p {
        margin-top: 0px;
      }
    }
    .transparent-btn {
      margin: 20px;
    }
  }
}
.background {
  position: relative;
  height: 600px;
  width: 100%;
  background-image: url("/assets/images/about-us/background-image.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  z-index: 2;
}
.main-content h2 {
  color: white;
  font-weight: 600;
  font-size: 40px;
}
.main-content p {
  color: white;
  font-weight: 400;
  font-size: 21px;
}

.Content {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: flex-start;
}
@media (max-width: 500px) {
  .Content {
    margin-top: 60px;
  }
}
.icon {
  position: relative;
  padding: 40px;
  margin: 50px;
}

.icon img {
  height: 59px;
  width: 62px;
  border-radius: 58px;
  position: relative;
  z-index: 1;
  animation: none;
}
.icon::before {
  content: "";
  position: absolute;
  top: 23%;
  left: 50%;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  animation: ring-wave-grey 2s infinite ease-in-out;
}

@keyframes ring-wave-grey {
  0% {
    box-shadow: 0 0 0 0 rgb(247, 247, 247);
  }
  70% {
    box-shadow: 0 0 0 20px rgba(249, 240, 240, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(241, 237, 237, 0);
  }
}
@media (max-width: 500px) {
  .main-content {
    flex-direction: column;
    .icon {
      padding: 0px;
      margin: 0px;
    }
  }
  .icon::before {
    content: "";
    position: absolute;
    top: 16%;
    left: 50%;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    animation: ring-wave-grey 2s infinite ease-in-out;
  }
  .Content {
    p {
      margin-left: 33px;
      margin-top: 10px;
    }
  }
}

.contact-info {
  text-transform: uppercase;
  h3 {
    color: white;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
  }
}
.progress-container {
  margin-bottom: 20px;
}

.progress-bar-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

mat-progress-bar {
  width: 100%;
  height: 20px;
}

.progress-label {
  position: absolute;
  right: 10px;
  color: black;
  margin-top: 15px;
  font-size: 14px;
  font-weight: 600;
}
.progress {
  display: flex;
}

.meet-our-team-container {
  h2 {
    font-size: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
  }
  p {
    color: #1b1b1b;
    text-align: center;
    font-size: 18px !important;
    line-height: 30px !important;
    max-width: 900px;
    margin: 0 auto 80px;
    line-height: 1.36em;
  }
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  justify-content: center;
  column-gap: 60px;
}
mat-card-title {
  color: white;
  text-align: center;
  font-size: 27px;
}
mat-card {
  border-radius: 10px;
}
.display-card:hover {
  transform: translateY(-5px);
  transition: 0.3s linear;
}

.container-wrapper {
  position: relative;
  width: 100%;
  height: 500px;
  background-image: url("/assets/images/about-us/people.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.content-wrapper {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-evenly;
  // column-gap: 14px;
  padding: 20px;
}
.custom-card {
  background-color: #1a214d;
  height: 232px;
  width: 297px;
  color: white;
  z-index: 2;
  margin-top: 82px;
}
.custom-card {
  h1 {
    color: #ffffff;
    font-family: "Roboto", Sans-serif;
    font-size: 63px;
    font-weight: 700;
  }
}
.details {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  margin-top: 61px;
}
@media (max-width: 500px) {
  .meet-our-team-container {
    padding: 16px;
    p {
      margin: 0px;
    }
  }
}
.company-info {
  margin-bottom: 90px;
  margin-top: 65px;
}

@media (max-width: 500px) {
  .company-info {
    margin-bottom: 20px;
    margin-top: 25px;
  }
  .container-wrapper {
    height: 254px;
  }
  .content-wrapper {
    column-gap: 10px;
    padding-top: 40px;
    padding-left: 7px;
    padding-right: 7px;
  }
  .custom-card {
    margin-top: 0px;
    height: 148px;
  }
  .details {
    margin-top: 27px;
    h1 {
      font-size: 34px;
    }
  }
}
