<div class="container">
  <div class="card-container">
    <div *ngFor="let item of cards">
      <mat-card class="card" style="flex:1">
        <div class="card-image">
          <img class="card-image" [src]="item.img"/>
        </div>
        <mat-card-title class="title">
          <a [routerLink]="['/blogs', item.url]">{{ item.title }}</a>
        </mat-card-title>
        <div class="date"> {{ item.date }}</div>
        <mat-card-content
          class="desc"
          *ngIf="item.desc.length <= 105; else longContent"
        >
          <span class="desc-content">{{ item.desc }}</span>
          <span
            class="read-more"
            [routerLink]="['/blogs', item.url]"
          >Read More...</span>
        </mat-card-content>
        <ng-template #longContent>
          <mat-card-content
            class="desc"
          >
            <span class="desc-content">{{ item.desc.slice(0, 105) }}...</span>
            <span
              class="read-more"
              [routerLink]="['/blogs', item.url]"
            >Read More...</span>
          </mat-card-content>
        </ng-template>
      </mat-card>
    </div>
  </div>
</div>
